body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.head {
	background-color: whitesmoke;
}

.story {
	background-color:gray;
	border:1px solid white;
}